body {
  background-color: #DDDDDD;
}
.form-control, .form-control:active, .form-control:focus, .form-control:hover, .form-control:focus-visible {
  background-color: #DDDDDD;
  border-color: black;
  outline: none;
  box-shadow: none;
}
.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary:focus-visible{
  background-color: #CEE461;
  border-color: black;
  color: black;
  outline: none;
  box-shadow: none;
}
.card{
  background-color: #DDDDDD;
  border-color: black;
}

.list-group-item{
  background-color: #DDDDDD;
  border-color: black;
}

.bg-primary{
  background-color: #CEE461 !important;
  border-color: black;
  color: black;
  outline: none;
  box-shadow: none;
}

.card-title{
  font-size: 1rem;
}
